table {
 width: 100%;
 background: black;
 color: white;
 border-spacing: 2px;
}
td, th {
 background: white ;
 padding: 5px;
}
#hobby1 {
    position: relative;
    left:200px;
    right: 0;
    top: 20px;
    width: 255px;
    padding: 20px;
    background: #f0f0f0;
   }
   #hobby2 {
       position: relative;
       left:460px;
       right: 0;
       top: 20px;
       width: 255px;
       padding: 20px;
       background: #f0f0f0;
      }
      #hobby3 {
          position: relative;
          left:720px;
          right: 0;
          top: 20px;
          width: 255px;
          padding: 20px;
          background: #f0f0f0;
         }
